*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }
  header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
  }
  body{
    background: #133917;
  }
.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
  }
  .navlist{
    display: flex;
  }
  .navlist a{
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
  }
  .navlist a:hover{
    border-bottom: 2px solid white;
  }
  #menu-icon{
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
  }
  #searchContainer {
    display: flex;
    gap: 10px;
    margin-top: 100px;
    margin-left: 50%;
}

#plantName {
    padding: 5px;
    border: 1px solid #133917;
}

#searchButton {
    padding: 5px 10px;
    background-color: #133917;
    color: white;
    border: none;
    cursor: pointer;
}

#infoContainer {
    display: flex; /* Display flex to arrange divs side by side */
    flex-wrap: wrap; /* Allow wrapping if screen is narrow */
    justify-content: center; /* Center divs horizontally */
    align-items: center; /* Center divs vertically */
    margin-top: 20px; /* Add space below the header */
    width: 100%; /* Take up full width */
    background-color: white;
}

#perunialInfo {
    flex: 1; /* Allow divs to share available space equally */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px; /* Add spacing between divs */
    max-width: calc(50% - 20px); /* Limit divs to half of the available width minus spacing */
    text-align: center;
}

#expandedInfo {
    flex: 1; /* Allow divs to share available space equally */
    box-sizing: border-box;
    padding: 10px;
    margin: 10px; /* Add spacing between divs */
    max-width: calc(50% - 20px); /* Limit divs to half of the available width minus spacing */
}

h2 {
    background-color: #133917;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

#infoHeader {
    background-color: #133917;
    width: 100%;
}
 
